# pipeline outputs
results*/
logs/
*.bam
*.bai
*.bw
*.bigWig
*.bedgraph
*.bedGraph
*.narrowPeak
*.broadPeak
*.bed
!config/*.bed

# trimmed / raw data
*.fq.gz
*.fastq.gz
data/

# QC
*.html
*.json
*.png
!.zenodo.json

# env / system
.DS_Store
__pycache__/
*.pyc
.snakemake/
